setuptools==69.0.3
wheel==0.42.0
python-dotenv==1.0.0
streamlit==1.28.1
pandas==2.1.4
plotly==5.18.0
facebook-business==18.0.0
requests==2.31.0
protobuf==4.25.2
cryptography==41.0.7
numpy==1.26.3
psycopg2-binary==2.9.9